.sample-row {
    margin: 5pt;
}

.sample-container {
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
}

.viewport {
    border: 1pt;
    margin: 5pt;
}

.canvas {
    border:1px solid black;
}
